.gpt3__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gpt3__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 8rem;
}

.gpt3__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}

.gpt3__features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);
    margin-top: 2rem;
}

.gpt3__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.gpt3__features-container .gpt3__features-container__feature-title{
    max-width: 185px;
}

@media screen and (max-width: 990px) {
    .gpt3__features {
        flex-direction: column;
        padding: 1rem 2rem;
        margin-top: 5rem;
    }

    .gpt3__features-heading {
        margin: 0 0 2rem 0;
    }

    .gpt3__features-container__feature-title h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .gpt3__features-container_feature-text p {
        font-size: 22px;
        line-height: 32px;
    }
}


@media screen and (max-width: 550px) {
    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
        text-align: center;
    }

    .gpt3__features-container__feature-title{
        max-width: 220px;
    }

    .gpt3__features-container_feature-text {
        margin-top: -1.2rem;
    }

    .gpt3__features-heading p {
        text-align: center;
    }

    .gpt3__features-container__feature {
        display: flex;
        flex-direction: column;
    }
}